@import "tailwindcss";
@config "../tailwind.config.js";

@layer base {
  body {
    @apply bg-background-light text-off-navy dark:bg-background-dark dark:text-pale font-display antialiased;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #050A30;
}

::-webkit-scrollbar-thumb {
  background: #3E160C;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #785D32;
}

/* Utilities */
.luxury-shadow {
  box-shadow: 0 10px 40px -10px rgba(0, 0, 0, 0.5);
}